<!DOCTYPE html>

<html>
    <head>
        <title>PENDING</title>
    </head>
    <body>
        <h1>PAYMENT {{title}}</h1>
        <h3>Please wait while we generate your ticket</h3>
    </body>
    <script type="text/javascript">
        document.title="{{title}}"
    </script>
</html>